.navbar .max_width {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav_log {
    font-size: 4rem;
}

.nav_container .navs {
    display: inline-block;
    padding: 2rem 4rem;
    font-size: 1.2rem;
    font-family: var(--OpenSans);
    font-weight: 600;
}

.nav_searchBox {
    width: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    background: rgba(128, 128, 128, 0.58);
    border-radius: 20rem;
}

.nav_searchBox input {
    width: 100%;
    height: 3rem;
    background: transparent;
    border: none;
}

.nav_bottom {
    display: flex;
}

.navbar .login, .cart {
    position: relative;
    font-size: 1.4rem;
    padding: 2rem 4rem;
    font-family: var(--OpenSans);
    cursor: pointer;

}


.navbar .login span, .cart span {
    margin-left: 1rem;
}


.loginBox {
    width: 20rem;
    position: absolute;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    top: 5rem;
    padding: 1rem;
    z-index: 899;
}

.loginBox .heading {
    font-size: 1.2rem;
    font-family: var(--Poppins);
    font-weight: 800;
    color: red;
}

.loginBox .close {
    position: absolute;
    top: 10px;
    right: 15px;
}

.loginBox .btn {
    margin-top: 1rem;
    font-size: 1.5rem;
    background: red;
    font-family: var(--Poppins);
    font-weight: 800;
    color: white;
    text-align: center;
}

.loginBox .btn {
    width: 100%;

}